@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,900&family=Rubik+Dirt&family=Saira+Stencil+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Saira Stencil One', cursive;
    margin: auto;
    background: white;
}

.logo{
    width: 120px;
    height: 120px;
    float: left

}




.titulo{



}

/*menu*/



.navegador{
    color: #000;
    background-color:rgb(43, 74, 56);
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-top: 1%;
    
    

    


}

.menu li a{
    
    



}

/*submenu*/

.submenu{
    visibility: hidden;
    background-color: rgb(47, 93, 47) ;
    transition: all,(2);
    




}

li:hover .submenu{
    visibility: visible;
    
    



}

.submenu li a{


}

header{
    display: flex;
    justify-content: center ;
    font-size: 25px;
    align-items: center;
}

