


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace ;

}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    overflow: hidden;
}

.bloque{
    width: 100vw;
    padding-top: 50px;
    flex-shrink: 0;
    height: 100vh;
}


header{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right,red, green (79,62,62),#000 );
    text-align: center;
}

header  a{
    display: inline-block;
    margin: 0 20px ;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
}

header span{
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px;
}

.icono_menu img{
    width: 40px;
    height: 40px;

}

.selected{
    color: blue;
    transition: .3s;
}

#intro{
    background-image: url();
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro .contenido h1{
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 10px black;
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
}

@keyframes aparecer{

    0%{
        opacity: 0;
        top:50px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}